
{{#each mediaElement in mediaUrls itemController="media-urls/item"}}
<div class="well">
  <div class="pull-right" style="margin-bottom:10px">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default"  {{ action "removeItem" mediaElement }}><i class="fa fa-remove fa-1x"></i></button>
    </div>
  </div>
  <div class="form-group" >
    <label  class="control-label">Media Type</label>
    {{view "Ember.Select"
    content=urlTypes
    value=mediaElement.type
    selection=mediaElement.type
    class="form-control"
  }}
</div>

{{#if mediaElement.typeIsVideoOrAudio}}
  {{input type="checkbox" name="mediaElement.wideMedia" checked=mediaElement.wideMedia}}
  <label  class="control-label">Wide Media?</label>
  <div class="well">
    <p class=text-left>
      <ins> <strong>All urls need to be emded type</strong></ins>
      <p>Sample Urls: </p>
      <ul class="list-unstyled">
        <li>Soundcloud url</li>
        <ul >
        <li>https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/165018741&amp;\
          auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true</li>
      </ul>
      <li>Vimeo url</li>
      <ul >
        <li>//player.vimeo.com/video/118046581?title=0&byline=0&portrait=0</li>
        </ul>

      <li>Youtube url</li>
      <ul >
        <li>https://www.youtube.com/embed/zpOULjyy-n8</li>
      </ul>
    </ul>
    </p>
  </div>
  {{/if}}


  <div class="form-group" >

  <label  style="margin-top: 10px" class="control-label">Text</label>
  {{ input type="text" class="form-control"  placeholder="URL" value=mediaElement.text }}
  <label  style="margin-top: 10px" class="control-label">URL</label>
  {{ input type="text" class="form-control"  placeholder="URL" value=mediaElement.mediaUrl }}
</div>
</div>
{{/each}}
