<div class="container">
  <div class="row">
    <h1><small>Page Information </small></h1>
    <hr/>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <u class="lead">{{errorMessage}}</u>
      </div>
      <div class="panel-body">

        <form role="form" {{action "save" on="submit"}}>
          <div class="form-group">
            <label for="pageType" class="control-label">Page Type</label>
            {{view "Ember.Select"
            content=types
            value=type
            class="form-control" id="pageType"
          }}
        </div>

        <div class="form-group text-left">
          <label for="pageText" class="control-label">Question Text</label>
          {{ textarea  class="form-control " type="text" id="pageText"   placeholder="Text" value=text rows="10"}}
        </div>


        <hr/>
          <div class="form-group">
            <label for="pageMediaElements" class="control-label">Media Elements</label>
            <div class="text-right">
            <div class="btn-group btn-section" id="pageMediaElements" role="group">
            <button type="button" class="btn btn-default btn-danger" {{action "addNewMediaElements" }}>Add Media Element</button>
          </div>
        </div>
      </div>

      {{media-element-list mediaUrls=model.mediaUrls removeItem="removeMediaElement"}}
      <hr/>

        <div class="form-group">
          <label for="pageChoiceElements" class="control-label">Answer Choices</label>
          <div class="text-right">
            <div class="btn-group btn-section" id="pageChoiceElements" role="group">
            <button type="button" class="btn btn-default btn-danger" {{action "addNewChoiceElements" }}>Add Choice</button>
          </div>
        </div>
      </div>
      {{answer-choice-list answerChoices=model.choices removeItem="removeAnswerChoice"}}


    <hr/>

      <div class="form-group">
        <label for="pageWeight" class="control-label">Question Weight</label>
        {{view "Ember.Select"
        content=types
        value=type
        class="form-control" id="pageWeight"
      }}
    </div>

      <button type="submit"  value="Save" class="btn btn-default">Save</button>
      <button class="btn btn-default"  {{action "cancel"}} >Cancel</button>
    </form>
  </div>
</div>
</div>
</div>



{{!-- <div class="container">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="box">
<div class="box-icon">
<span class="fa fa-4x fa-html5"></span>
</div>
<div class="info">
<h4 class="text-center">Title</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
<a href="" class="btn">Link</a>
</div>
</div>
</div>
</div>
</div> --}}
