
<div class="container">
  <div class="row">
    <h1><small>Page Preview </small></h1>
    <hr/>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="panel panel-primary">

      <div class="panel-heading clearfix">
        <div class="panel-title">{{type}}</div>
        <u class="lead">{{errorMessage}}</u>
      </div>

      <div class="panel-body">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


          <div class="box">

            <div class="box-icon">
              {{#if typeIsQuestion}}
              <span class="fa fa-4x fa-question-circle"></span>
              {{/if}}
              {{#if typeIsReference}}
              <span class="fa fa-4x fa-list"></span>
              {{/if}}
              {{#if typeIsReinforcement}}
              <span class="fa fa-4x fa-space-shuttle"></span>
              {{/if}}

            </div>
            <div class="info">
              {{#if typeIsQuestion}}
              <h4 class="text-left">Question</h4>
              {{else}}
              <h4 class="text-left">Description</h4>
              {{/if}}
              <hr/>
              <p class="text-left">{{text}}</p>
            </div>


      <hr/>


          {{#each mediaElement in model.mediaUrls itemController="media-urls/item"}}

          {{media-item media=mediaElement }}


          {{/each}}

          <hr/>


        </div>


      </div>
    </div>
  </div>
</div>

</div>
