
<div class="container">

  <div class="row">

  <ol class="breadcrumb">
    <li><a>Home</a></li>
    <li>{{#link-to "qwizbooks.index"  class="active" }}Qwizbooks{{/link-to}}</li>
  </ol>
</div>
<div class="row">
  <div class="pull-right">
    <div class="btn-group qwizbook-index-toolbar" role="group">
      <button type="button" class="btn btn-default btn-danger" {{action "addQwizbook" }}>Add Qwizbook</button>
    </div>
  </div>
</div>

  <div class="row well">
    <div class="input-group search-control">

      {{!-- The value "search is defined as query param in the index controller" --}}
      {{ input type="text" class="form-control"  placeholder="Search Qwizbooks" value=search}}

      <span class="input-group-btn">

        <button class="btn btn-default" type="button" {{action "clearSearch" }}>
          <span class="fa fa-times fa-1x"></span>
        </button>

      </span>
    </div>
  </div><!-- /input-group -->

</div><!-- /container -->

<div class="container">
  <div class="row">

    {{#each  qwizbook in model itemController="qwizbooks/item"}}

    <div class="box box-summary">
      <div>
        <span class="glyphicon glyphicon-heart"></span>
        <span class="glyphicon glyphicon-heart"></span>
        <span class="glyphicon glyphicon-heart"></span>
        <span class="glyphicon glyphicon-heart"></span>
        <span>(36)</span>
      </div>
      <div>
        <span class="glyphicon glyphicon-comment"></span>
        <span>(100)</span>
      </div>
      <hr/>

      
      <div class="info">
        <h4 class="text-left">
          {{qwizbook.title}}
        </h4>
      </div>

      <div class="box-icon box-icon-right" type="button" {{ action "showDetail" qwizbook }} style="cursor:pointer">
        <span class="fa fa-2x fa-chevron-right"></span>
      </div>

    </div>

    {{/each}}

  </div>
</div>
